PowerApps/IAF Form/FormApp_20230719080547/Microsoft.Flow/flows/faa183bc-16a6-408e-93d2-7b3b53cdcc8c/definition.json
{"name":"58631553-cd31-4f41-afdb-8f81aacb2435","id":"/providers/Microsoft.Flow/flows/58631553-cd31-4f41-afdb-8f81aacb2435","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"approvaHistory","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"5e721040-82be-41f0-b815-e35446b653bc","type":"User","tenantId":"6e394566-a548-40b4-b5eb-608fe9eb653b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-07-18T09:40:17.9304506Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"fa380092-fe63-43c7-82d9-9a5dfb1deae9"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Getitem_Id":{"type":"integer","format":"int64","description":"Unique identifier of item to be retrieved","x-ms-powerflows-param-ispartial":false}},"required":["Getitem_Id"]}}}},"actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"efa68436-d2a6-45fd-be88-6fd1708bd292"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://nl53.sharepoint.com/sites/EditForm","table":"53a5392d-b261-468d-80af-3d1be8246f36","id":"@triggerBody()['Getitem_Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_item":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"c893457c-1e1b-4509-b1b2-28f108e8cd0f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://nl53.sharepoint.com/sites/EditForm","table":"af015d63-fe89-4f22-8f45-1e0955822f2a","id":"@outputs('Get_item')?['body/Title']","item/Title":"@{outputs('Get_item')?['body/Created']}, @{outputs('Get_item')?['body/EmployeeName']}","item/Approver/Claims":"i:0#.f|membership|adelev@nl53.onmicrosoft.com","item/ActionByApprover/Value":"Approved","item/Comments":"@outputs('Get_item')?['body/Comments']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_item":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"operationMetadataId":"6661376d-a27a-4025-9ff7-cb4887252905"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://nl53.sharepoint.com/sites/EditForm","table":"af015d63-fe89-4f22-8f45-1e0955822f2a","item/Title":"@{outputs('Update_item')?['body/Created']}, @{outputs('Get_item')?['body/EmployeeName']}","item/Approver/Claims":"i:0#.f|membership|alexw@nl53.onmicrosoft.com","item/ActionByApprover/Value":"Pending"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_item_2":{"runAfter":{"Create_item":["Succeeded"]},"metadata":{"operationMetadataId":"0b82fc6c-0e35-41f1-bd9c-87b243ebd493"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://nl53.sharepoint.com/sites/EditForm","table":"53a5392d-b261-468d-80af-3d1be8246f36","id":"@outputs('Get_item')?['body/ID']","item/EmployeeName":"@outputs('Get_item')?['body/EmployeeName']","item/CentreCode":"@outputs('Get_item')?['body/CentreCode']","item/EmployeeCode":"@outputs('Get_item')?['body/EmployeeCode']","item/UserID":"@outputs('Get_item')?['body/UserID']","item/ContactNumber":"@outputs('Get_item')?['body/ContactNumber']","item/Is_x0020_it_x0020_a_x0020_specia":"@outputs('Get_item')?['body/Is_x0020_it_x0020_a_x0020_specia']","item/ApprovalStatus/Value":"Waiting For Second Approver","item/Title2":"@outputs('Create_item')?['body/ID']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"c96e609550284677b6837f405bd7a9e3","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}