PowerApps/IAF Form/FormApp_20230719080547/Microsoft.Flow/flows/fe2a0133-d393-4a75-92dd-51c411761149/definition.json
{"name":"54010095-dc48-4cbc-9319-38c9d0a91d13","id":"/providers/Microsoft.Flow/flows/54010095-dc48-4cbc-9319-38c9d0a91d13","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"modifiedUpdate","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"5e721040-82be-41f0-b815-e35446b653bc","type":"User","tenantId":"6e394566-a548-40b4-b5eb-608fe9eb653b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-07-18T10:26:18.7786086Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"165c3752-0f97-4249-88a9-51008101e9d6"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Getitem_Id":{"type":"integer","format":"int64","description":"Unique identifier of item to be retrieved","x-ms-powerflows-param-ispartial":false}},"required":["Getitem_Id"]}}}},"actions":{"Create_item":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"453b932c-6e0a-4f21-add7-19e185a7a129"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://nl53.sharepoint.com/sites/EditForm","table":"af015d63-fe89-4f22-8f45-1e0955822f2a","item/Title":"@{outputs('Get_item')?['body/Created']}, @{outputs('Get_item')?['body/EmployeeName']}","item/Approver/Claims":"i:0#.f|membership|adelev@nl53.onmicrosoft.com","item/ActionByApprover/Value":"Pending"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"65ee9cbf-bc4e-4f2d-aa8b-15559cbcd62a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://nl53.sharepoint.com/sites/EditForm","table":"53a5392d-b261-468d-80af-3d1be8246f36","id":"@triggerBody()['Getitem_Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_item":{"runAfter":{"Create_item":["Succeeded"]},"metadata":{"operationMetadataId":"5ad157e5-7566-4cc2-9a98-be44f83f3689"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://nl53.sharepoint.com/sites/EditForm","table":"53a5392d-b261-468d-80af-3d1be8246f36","id":"@outputs('Get_item')?['body/ID']","item/EmployeeName":"@outputs('Get_item')?['body/EmployeeName']","item/CentreCode":"@outputs('Get_item')?['body/CentreCode']","item/EmployeeCode":"@outputs('Get_item')?['body/EmployeeCode']","item/UserID":"@outputs('Get_item')?['body/UserID']","item/ContactNumber":"@outputs('Get_item')?['body/ContactNumber']","item/Title":"@outputs('Create_item')?['body/ID']","item/Is_x0020_it_x0020_a_x0020_specia":"@outputs('Get_item')?['body/Is_x0020_it_x0020_a_x0020_specia']","item/ApprovalStatus/Value":"Waiting For First Approver"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"c96e609550284677b6837f405bd7a9e3","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}